.App {
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: #777;
}

button {
  padding: 10px 16px;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: none;
  max-width: 400px;
  margin: 0 auto;
  font-size:larger;
}

li {
  margin: 10px;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

li .delete-button {
  margin-left: 8px;
  font-size: 14px;
  border: none;
  background-color: gray;
  color: #464545;
  cursor: pointer;
  transition: color 1s ease;
}

li .delete-button:hover {
  color: #ff0000;
}

